
      body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
    background-color: teal;
      }
      .topnav {
        background-color: #a8a3a3a1;
        overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: linear-gradient(to right, rgb(32, 30, 30), rgb(41, 39, 39));
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #2e2c2c;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        
      }
      